<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- settings : mybatis가 구동될 때 선언할 설정들을 작성하는 영역 -->
  <configuration>
  	<settings>
  		<setting name="jdbcTypeForNull" value="NULL" />
  	</settings>
  	
  	<!-- typeAliases는 servlet, bean클래스의 풀 클래스명 별칭을 등록할 수 있는 영역 -->
  	<typeAliases>
  	</typeAliases>
  	
  	<!-- environments는 mybatis에서 연동하는 DB정보들을 등록하는 영역 -->
  <environments default="development">
    <environment id="development">
    
 	<!--
 	 	* transactionManager 
 	 	  - JDBC : 트랜잭션을 내가 직접 관리
 	 	  - MANAGED : 트랜잭션 자동 commit(나는 관여하지 않는다 라는 뜻) 	 
 	 -->
     	<transactionManager type="JDBC"/> <!-- 직접 JDBC를 관리하겠다는 뜻 -->
     	<!-- 
     		* dataSource : connection pool 사용 여부
     		  - POOLED : connection pool 사용
     		  - UNPOOLED : connection pool 사용 안함
     	 -->
     	<dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/> <!-- oracle에서 새로만들기에서 계정 아무거나 누르면 local host 아이디비번이 나온다. -->
        <property name="username" value="mybatis"/>
        <property name="password" value="1234"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- mappers는 실행할 sql문들을 기록 해둔 mapper파일을 등록하는 영역 -->
  <mappers>
    <mapper resource="/mappers/member-mapper.xml"/>
  </mappers>
</configuration>